

body{
    line-height: 1.5;
    font-family: sans-serif;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header nav start */
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.justify-contant-between{
    justify-content: space-between;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


.header{
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
}
.header .logo,
.header .nav{
    padding: 0 15px;

}
.header .logo a{
    font-size: 30px;
    color: white;

}
.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}
.header .nav ul li a{
    display: block;
    font-size: 15px;
    padding: 10px 0;
    color: white; 
    letter-spacing: 1px;
    font-weight: 500; 
}
.header #nav-check{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.nav-toggler{
    height: 34px;
    width: 44px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.nav-toggler span{
    display: block;
    height: 2px;
    width: 20px;
    background-color: black;
    position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
}
.nav-toggler span::before{
    top: -6px;
}
.nav-toggler span::after{
    top: 6px;
}
@media(max-width: 991px){
    .nav-toggler{
        display: flex;
    }
    .header .nav{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        
        /* border-top: 1px solid #fff; */
        opacity: 0;
        visibility: hidden;
    }
    .header .nav ul li{
        text-align: center; 
    }
    .header .nav ul li{
        display: block;
        margin: 0;
    }
    .header #nav-check:checked ~ .nav{
        opacity: 1;
        visibility: visible;
    }
    .header #nav-check:checked ~ .nav-toggler span{
        background-color: transparent;
    }
    .header #nav-check:checked ~ .nav-toggler span::before{
        top: 0;
        transform: rotate(45deg);
    }
    .header #nav-check:checked ~ .nav-toggler span::after{
        top: 0;
        transform: rotate(-45deg);

    }
    
}
/* header nav end */







